.total_expenses {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.addExpenseButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #00b894;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
